#main_header{
	margin-top: 5%;
	margin-bottom: 5%;
}

body{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

nav{
	height: 80px;
	background-color: #c0c0c0;
	outline: 3px solid black;
}

.navbar-header{
	font-size: 25px;
	font-weight: bold;
	padding: 0px 0px 0px 20px;
}

.container-lg{
	margin-top: 5%;
	padding-bottom: 50px;
}

section{
	background-color: #c0c0c0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
}

section header{
	font-weight: bold;
	padding-bottom: 5%;
}

.nav-item{
	text-align: center;
	border-bottom: 3px solid black;
	font-size: 20px;
}


/*#nav-list{
	margin-top: 45px;
}

.nav-list a{
	color: #c0c0c0;
	text-align: center;
}*/

/*.navbar-nav{
	width: 100%;
	text-align: center;
}

.nav-item{
	display: block;
	outline: 1px solid black;
}

.nav-link {
    padding: 10px 0;
}

.navbar-toggler-icon {
    border: 1px solid black;
    padding: 5px;
}*/

/*.collapse {
    background-color: #fff;
    padding-top: 33px;
}*/

@media(min-width: 1200px){
	body section{
		font-size: 20px;
	}
	body section header{
		font-size: 25px;
	}
	.navbar-brand{
	font-weight: bold;
	font-size: 25px;
	}
}

@media(min-width: 992px) and (max-width: 1200px){
	body section{
		font-size: 18px;
	}
	body section header{
		font-size: 22px;
	}
	.navbar-brand{
	font-weight: bold;
	font-size: 22px;
	}
}

@media(max-width: 991px){
	body section{
		font-size: 16px;
	}
	body section header{
		font-size: 20px;
	}
	.navbar-brand{
	font-weight: bold;
	font-size: 20px;
	}
}

@media (min-width: 768px) {
  #coll {
    display: none !important;
  }
}